.cardItem {
  display: flex;
  width: 451px;
  height: 279px;
  box-shadow: lightgray 6px 6px 10px 0px;
}
.film-logo {
  width: 180px;
  height: auto;
}
.film-logo-wrapper {
  width: 180px;
  height: 279px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
.film-logo-placeholder {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.description {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
}
.content {
  width: 251px;
}
.title {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 3px;
  padding-right: 38px;
  line-height: 26px;
  font-weight: 400;
  max-height: 80px;
  overflow: hidden;
}
.release-date {
  font-size: 14px;
  margin-bottom: 5px;
  color: gray;
}
.content {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.genre {
  margin-bottom: 7px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  max-height: 55px;
  overflow: hidden;
}
.genre__item {
  background-color: #f9f9f9;
  border: solid 1px lightgray;
  border-radius: 2px;
  padding: 0 4px 0 4px;
}
.round-rating {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid orange;
  position: absolute;
  right: 5px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
