body {
  font-family: 'Inter', sans-serif;
}
.movie-app {
  max-width: 1010px;
  margin: 0 auto 0 auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  box-sizing: border-box;
}
