body {
  background-color: azure;
}
.slide {
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  width: 1010px;
  margin: 0 auto 0 auto;
  background-color: white;
}
